<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="addUserForm" novalidate (submit)="addUser()">
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" name="name" formControlName="name" #name/>
        </div>
        <div *ngIf="addUserForm.controls['name'].invalid && (addUserForm.controls['name'].dirty || addUserForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="addUserForm.controls['name'].errors.required">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">User Name</label>
          <input type="text" class="form-control" name="username" formControlName="username" #username/>
        </div>
        <div *ngIf="addUserForm.controls['username'].invalid && (addUserForm.controls['username'].dirty || addUserForm.controls['username'].touched)" class="alert alert-danger">
          <div *ngIf="addUserForm.controls['username'].errors.required">
            User Name is required.
          </div>
        </div>
        <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
        </div>
        <label class="upload-button">
          <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
            or choose file(s)
        </label>
        <button type="button" class="btn btn-info" (click)="startUpload()">
          Upload
        </button>
        <div class="form-group">
          <button type="submit" [disabled]="addUserForm.pristine || addUserForm.invalid" class="btn btn-primary">SignUp</button>
        </div>
      </form>
    </div>
  </div>
</div>
